#contenedor{
    margin: 50px;
}
#lista li span{
    font-weight: bold;
    font-style: italic;
}
#pokemones{
    position: absolute;
    top: 0;
    right: 0;
}
#principal{
    margin: 20px;
    width: 60%;
}
#imagen{
    height: 150px;
    width: 150px;
}